/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    background-color: #000000; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px 40px; /* Espaciado interno */
    position: fixed; /* Posición fija */
    top: 0; /* Desde la parte superior */
    width: 80%; /* Ancho del contenedor */
    z-index: 1000; /* Capa z para estar encima de otros elementos */
}

/* Estilos para el logo en la barra de navegación */
.navbar-logo {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

.navbar-logo img {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    margin-right: 10px; /* Margen derecho */
}

/* Estilos para la lista de navegación */
.navbar-nav {
    list-style-type: none; /* Elimina los estilos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Muestra los elementos como flexbox */
}

.navbar-nav li {
    margin-right: 42px; /* Espaciado entre elementos */
}

.navbar-nav li a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

.navbar-nav li a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Estilos para las opciones de usuario */
.user-options {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio */
}

/* Estilos para el icono de usuario */
.user-icon {
    position: relative;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-left: 20px; /* Margen izquierdo */
}

.user-icon img {
    width: 60px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
}

/* Estilos para el menú lateral */
.sidebar {
    position: absolute; /* Posición absoluta */
    top: 100%; /* Desde la parte inferior del icono de usuario */
    right: 0; /* Alineado a la derecha */
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    display: none; /* No visible por defecto */
}

/* Mostrar el menú lateral al pasar el cursor sobre el icono de usuario */
.user-icon:hover .sidebar {
    display: block; /* Mostrar el menú lateral */
}

/* Estilos para el botón de cierre de sesión */
.button-primary {
    background-color: #eefb03; /* Color de fondo */
    margin: 8px 8px 8px 8px; /* Margen */
    font-weight: 400; /* Peso de la fuente */
    border: none; /* Sin borde */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 14px; /* Bordes redondeados */
}
