<nav class="navbar">
    <div class="navbar-logo">
        <img src="\assets\img\logo.png" alt="Logo INNOVATECH">
    </div>

    <ul class="navbar-nav">
        <li><a (click)="home()" routerLinkActive="active">Inicio</a></li>
        <li><a (click)="services()">Nuestros Servicios</a></li>
        <li><a routerLink="/resenas" routerLinkActive="active">Reseñas</a></li>
        <li><a (click)="contact()" routerLinkActive="active">Contacto</a></li>
    </ul>

    <div class="user-options">
        <div class="user-icon" (click)="toggleSidebar()">
            <img src="\assets\icon\user.svg" alt="Usuario">
            <div class="sidebar" *ngIf="showSidebar">

            </div>
        </div>

        <button class="button-primary" (click)="logout()">Cerrar Sesión</button>
    </div>
</nav>