<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="contact-info">
            <h1>Contacto</h1>
            <p>Estamos aquí para responder cualquier pregunta que puedas tener sobre nuestros productos, servicios o
                cualquier otro tema relacionado. Valoramos tu opinión y estamos siempre dispuestos a ayudarte. Por
                favor, completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>
        </div>
        <div class="contact-form">
            <form action="#" method="post">
                <input type="text" placeholder="Nombre Completo" required>
                <input type="email" placeholder="Correo Electrónico" required>
                <input type="tel" placeholder="Teléfono de Contacto" required>
                <textarea placeholder="Déjanos tu mensaje" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</body>

</html>