<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<!-- Componente de la barra de navegación -->
<app-navbar></app-navbar>

<body>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Sección de información de contacto -->
        <div class="contact-info">
            <h1>Contacto</h1> <!-- Encabezado principal -->
            <!-- Párrafo con información de contacto -->
            <p>Estamos aquí para responder cualquier pregunta que puedas tener sobre nuestros productos, servicios o
                cualquier otro tema relacionado. Valoramos tu opinión y estamos siempre dispuestos a ayudarte. Por
                favor, completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>
        </div>
        <!-- Sección del formulario de contacto -->
        <div class="contact-form">
            <!-- Formulario de contacto -->
            <form action="#" method="post">
                <!-- Campos de entrada -->
                <input type="text" placeholder="Nombre Completo" required>
                <input type="email" placeholder="Correo Electrónico" required>
                <input type="tel" placeholder="Teléfono de Contacto" required>
                <!-- Área de texto para el mensaje -->
                <textarea placeholder="Déjanos tu mensaje" required></textarea>
                <!-- Botón de envío del formulario -->
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <!-- Componente del pie de página -->
    <app-footer></app-footer>
</body>

</html>
