body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding: 50px 30px 30px 15px;
}

.banner {
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.banner-content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.banner-content p {
    margin: 10px 0;
    font-size: 14px;
}

.button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.descuento {
    text-align: center;
    font-size: 27px;
    margin-top: 25px;
    background-color: #eefb03;
    border-radius: 14px
}