    <app-navbar></app-navbar>
    <section class="banner-container">
        <div class="banner">
            <img src="../../assets/img/banner_1.png" alt="Ciberseguridad">
            <div class="banner-content">
                <h2>CIBERSEGURIDAD</h2>
                <p>En INNOVATECH, ofrecemos soluciones de ciberseguridad personalizadas para proteger sus activos digitales. Desde evaluación de vulnerabilidades hasta respuesta a incidentes, nos encargamos de mantener su empresa segura.</p>
                <a href="#" class="button">Comprar ahora</a>
            </div>
        </div>

        <div class="banner">
            <img src="\assets\img\banner_2.png" alt="Software de valor">
            <div class="banner-content">
                <h2>SOFTWARE DE VALOR</h2>
                <p>En INNOVATECH, desarrollamos soluciones de software personalizadas diseñadas para agregar valor a su negocio. Desde herramientas de gestión empresarial hasta aplicaciones especializadas, nuestro software está diseñado para adaptarse a las necesidades específicas de su negocio.</p>
                <a href="#" class="button">Comprar ahora</a>
            </div>
        </div>

        <div class="banner">
            <img src="\assets\img\banner_1.png" alt="Software comercial">
            <div class="banner-content">
                <h2>SOFTWARE COMERCIAL</h2>
                <p>En INNOVATECH, ofrecemos soluciones de software comercial diseñadas para optimizar operaciones y aumentar su productividad. Nuestro software está diseñado para adaptarse a las necesidades específicas de su negocio.</p>
                <a href="#" class="button">Comprar ahora</a>
            </div>
        </div>
    </section>

    <section class="descuento">
        <p>Solo por hoy, todos nuestros productos están con un 50% de descuento. ¡Aprovecha la oportunidad!</p>
    </section>

    <app-footer></app-footer>