<app-navbar></app-navbar> <!-- Componente de la barra de navegación -->

<div class="div-content">
    <div class="body">
        <h1>BIENVENIDO</h1> <!-- Título principal -->

        <h2>QUIENES SOMOS</h2> <!-- Subtítulo -->
        <p>SOMOS UNA EMPRESA ENFOCADA EN EL DESARROLLO DE APLICATIVOS WEB, CON GRANDES PROYECTOS. CONOCE NUESTROS TRABAJOS
            EN LA SIGUIENTE PESTAÑA</p> <!-- Texto descriptivo -->
        <button (click)="services()">Nuestros Servicios</button> <!-- Botón para acceder a servicios -->
    </div>

    <div class="logo">
        <img class="img-content" src="\assets\img\logo.png" alt="Logo INNOVATECH"> <!-- Logo de la empresa -->
    </div>
</div>

<app-footer></app-footer> <!-- Componente del pie de página -->
